.Header{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    text-decoration: none;
  }
  .HamburguerButton {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}
  
.LogoHeader{ 
  width: 47px;
  height: 48px;
  margin-right: 10px;
}
.LogoLogin {
  object-fit: cover;
  cursor: pointer;
}
.ImageWrapper:hover{
  transform: scale(1.1);
  transition: calc(0.8s);
}
.TitleHeader{
  color: black;
  font-size: 24px;
  font-family: 'Bree Serif', serif;
  font-weight: 400;
  word-wrap: break-word;
}

.ImageWrapper {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.HeaderLink{
  color: black;
  font-size: 20px;
  font-family: 'Brawler', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
}
.HeaderLink:hover {
    color: #00bfae;
  }



.StyledHeader {
  width: 100%;
  height: 62px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.07);
  z-index: 1000;
  max-width: 100%;
  box-sizing: border-box;
  background-color: white; 
}


.TituloHeader{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
}


.Linke{
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .StyledHeader {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    height: auto;
    position: relative;
  }

  .TituloHeader {
    display: flex;
    align-items: center;
  }

  .HamburguerButton {
    display: block;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    z-index: 1100;
  }

.Header {
  position: absolute;
  top: 60px;
  right: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  padding: 12px 24px;
  z-index: 1001;
  min-width: 170px;
  align-items: center;
text-align: center;

}

  .ShowMenu {
    display: flex;
   flex-direction: column-reverse;
    
  }

  .HeaderLink,
  .Linke {
    font-size: 18px;
    padding: 5px 0 ;

    width: 100%;
    color: #000;
    text-decoration: none;
  }

}