.Container{
    display: flex;
    justify-content: space-between;
    gap: 14.5em;
    padding: 0;
}
.ContentGrupo {
    justify-content: center;
}
.ContentEventos{
    display:flex;
    align-items: center;
    gap: 1.5rem;
}
.TituloEvento {
    white-space: nowrap;
    text-decoration: none;
}
.Eventos {
    white-space: nowrap;
}

.Missao{
    justify-content: center;
    align-items: center;
}
.Adocao {
    white-space: nowrap;
}