.HeroCardUnified {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;


  padding-top: 2rem;

   margin-bottom: 2rem;
   margin-top: 0.1rem;
}

section {
  margin: 0;
  padding: 0;
}

.HeroContentEsquerda {
   background-image: url('/wallpapper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 3rem 2rem;
  border-radius: 16px;
  width: 100%;

  color: white;
  min-height: 400px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.HeroImageDireita {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroImageContent {
  max-width: 100%;
  height: auto;
}

.Titulo {
  font-size: 42px;
  font-weight: 700;
  color: #222;
  margin-bottom: 1rem;
  font-family: "Gabarito", sans-serif;
}

.Subtitulo {
 font-size: 16px;
  color: #f4fffb;
  font-family: "Gabarito", sans-serif;
  margin-bottom: 1.5rem;
}

.BotaoDoar {
  display: inline-block;
  background-color: #1f9e75;
  color: white;
  padding: 12px 28px;
  border-radius: 24px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: background 0.3s ease, transform 0.2s ease;
}

.BotaoDoar:hover {
  background-color: #177f5f;
  transform: scale(1.05);
}

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  padding: 0 1rem;
  text-align: center;
}

.ContentGrupo,
.Missao,
.Adocao {
  flex: 1 1 280px;
  max-width: 360px;
  margin-bottom: 2rem;
  margin: 0 auto;
}

.ContentEventos {
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.ContentEventos:hover {
  transform: translateY(-2px);
}

.TituloEvento {
 font-size: 15px;
  font-weight: bold;
  color: #1f3c2d;
  margin-bottom: 0.8rem;
  font-family: 'Gabarito', sans-serif;
}

.Eventos {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.Missao {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.EventosMissaoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.2rem;
  flex-wrap: wrap;
  width: 100%;
  
}

.TodosEventos {
  text-decoration: none;
   font-size: 18px;
  padding: 12px 28px;
  background-color: #41B273;
  color: white;
  border: none;
  border-radius: 28px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 20px;
}

.TodosEventos:hover{
  transform: scale(1.05);
}

.Link{
  text-decoration: none;
  color: white;
}
.Missao h2 {
  font-size: 15px;
  font-weight: 400;
  color: #444;
  line-height: 1.5;
}

.MissaoAdocaoWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  max-width: 360px;
}

.AdocaoImg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.page-wrapper{
   padding-top: 0;        
  padding-bottom: 2rem;
  margin-top: 64px;
}
/* Responsivo */
@media (max-width: 768px) {
  .HeroContentEsquerda{
  min-height: 200px; /* menor altura */
  padding: 1rem 1.5rem;
  }
  .HeroCardUnified {
  
    border-radius: 16px;
    padding-top: 0px;

  }
 .page-wrapper {
    padding-bottom: 1.5rem;
  }
  .HeroCardUnified .Titulo {
    font-size: 28px;
  }

  .HeroCardUnified .Subtitulo {
    font-size: 14px;
  }

  .HeroCardUnified .BotaoDoar {
    font-size: 15px;
    padding: 10px 22px;
    
  }

  .Container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .ContentEventos {
    flex-direction: row;
    text-align: center;
  }

  .TituloEvento {
    font-size: 14px;
  }

   .MissaoAdocaoWrapper {
    flex-direction: column;
  }

  .Adocao {
    order: 1;
  }
.Missao {
    order: 2;
  }
  .Missao h2 {
    font-size: 14px;
  }

  .Eventos {
    font-size: 20px;
  }
}
