body {
  margin: 0;
  min-height: 100vh;
 
}

.app-container{
  width: 1200px;
  height: 100vh;
  max-width: 90%;
  margin: 56px auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

.gabarito {
  font-family: "Gabarito", sans-serif;
}